<div class="w-100">
    <div class="center" *ngIf="user?.role=='user'">
        <h1 class="gradient-text">Document Uploading</h1>
        <h4>Please upload the answer sheet</h4>
        <div class="form-group w-75">
            <div *ngFor="let i of images; let idx = index" class="file-upload-container mt-3 mr-3">
                <label for="file-upload-{{idx}}" class="file-upload-label">
                    <span class="upload-text">
                        <ng-container *ngIf="i === idx; else uploadedFile">
                            Upload
                        </ng-container>
                    </span>
                    <input type="file" id="file-upload-{{idx}}" class="file-upload-input"
                        (change)="onFileChange($event, idx)" accept=".pdf,.gif,.png,.jpeg,.jpg">
                    <span class="upload-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                </label>
                <ng-template #uploadedFile>
                    <span class="upload-text">{{i}}</span>
                </ng-template>
            </div>
        </div>
    </div>
    <div *ngIf="user?.role=='admin'">
        <h1 class="gradient-text align mt-5">Answer Sheets</h1>
        <div class="w-100 wrap mt-4">
            <div *ngFor="let file of files">
                <div class="frame" *ngIf="isImage(file.fileUrl)" (click)="preview(file.fileUrl)">
                    <img [src]="file.fileUrl" alt="file">
                </div>
                <div class="frame d-flex justify-content-center align-items-center" *ngIf="!isImage(file.fileUrl)"
                    (click)="preview(file.fileUrl)">
                    <p>Preview not available..Click here to view</p>
                </div>
            </div>
        </div>
    </div>
</div>