/* You can add global styles to this file, and also import other style files */
.signup{
    color: blue;
    text-decoration: underline;
    font-size: medium;
    cursor: pointer;
}

.info{
    font-size: small;
    color: black;
}